body {  
    background-image: linear-gradient( #6EC7EB, #FFFFFF);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
background-image: (/webspeed/login_bg.png) repeat-x scroll 0 0 #F9F7F9!important;