.background{
    background-image: linear-gradient( #6EC7EB, #FFFFFF);
}
.logo {
    position: absolute;
}
.top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.three-lines {
    height: 62px;
    width: 7px;
}

.link-wrapper {
    text-decoration: none;
}

.gradebook { 
    position: relative;
}

.gradebook-table {
    border: 1px;
}